[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 4
root = false

[**.{md,yaml,yml,json,bbcode,code-snippets}]
indent_size = 2

[**.md]
trim_trailing_whitespace = true
max_line_length = 100

[**.bbcode]
indent_size = 3

[bbcode/README]
indent_size = 5